.imageWrapper {
  position: relative;
  text-align: right;
}

.homeImageCaptionMain {
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0%;
  left: 0%;
  padding: 5px 18px 0px 0px !important;
}

.homeImageCaption {
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0%;
  left: 0%;
  padding: 5px 18px 0px 17px;
}

.homeImageTitle {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  font-size: 2vw;
}

.serviceImage {
  border: 5px solid black;
  max-height: 800px;
}

#bannerCaption {
  position: absolute;
  top: 50%;
  bottom: 0%;
  right: 0%;
  left: 0%;
}

#bannerTitle {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  font-size: 4vw;
}
