#sidebar {
  position: sticky !important;
  top: 66px !important;
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: nowrap;
  background-color: var(--light);
  border-bottom: 1px solid var(--darkBlue);
  height: 100% !important;
  width: 100%;
  padding: 10px 0;
  z-index: 1000;
}

.sidebarNav {
  height: 50px;
  width: 50px;
  padding: 0 auto !important;
}

.sideNavLink {
  width: 100% !important;
  height: 100% !important;
  padding: 0 !important;
}

.sidebarActive {
  border: 1px solid var(--darkBlue);
}

.sidebarIcons {
  width: 43px !important;
  height: 43px !important;
  margin: 2.5px !important;
}

.sidebarLinks {
  display: none !important;
}

#hr {
  margin: 0 !important;
}

#serviceLayout {
  background-color: var(--light);
  display: flex;
  flex-direction: column;
}


@media only screen and (min-width: 768px) {
  #sidebar {
    top: 70.4px !important;
  }
}

@media only screen and (max-width: 1024px) {
  .sidebar {
    height: 70px !important;
  }
}

@media only screen and (min-width: 1025px) and (min-height: 850px) {
  #serviceLayout {
    flex-direction: row;
  }

  #sidebar {
    flex-direction: column !important;
    text-align: center !important;
    height: calc(100vh - 190px) !important;
    width: 125px !important;
    border-bottom: none;
    margin-right: 12px;
    margin-bottom: 0px !important;
    padding: 0 !important;
    position: sticky !important;
    top: 70px !important;
    z-index: 4000;
  }

  .sidebarIcons {
    width: 65px !important;
    height: 65px !important;
  }

  .sidebarNav {
    width: 100px;
    height: 100px;
    margin: auto;
  }

  .sideNavLink {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }

  .sidebarLinks {
    display: inline-block !important;
    padding: 0 !important;
    line-height: normal;
    text-decoration: none !important;
  }
}